table {
  width: 100%;
}

.mat-form-field {
  color: #fff;
  background-color: #424242;
  font-size: 20px;
  width: 100%;
}

.filter-input {
  // padding-left: 10px;
}

.parent-table {
  height: 100%;
  overflow: auto;
}

.mat-table {
  height: 100%;
}

.main {
  height: calc(100vh - 64px - 56.775px - 25px);
}

