table {
  width: 100%;
}

.mat-form-field {
  color: #fff;
  padding-left: 10px;
  background-color: #424242;
  font-size: 20px;
  width: 100%;
}

.parent-table {
  height: 400px;
  overflow: auto;
}
